<style></style>

<header
  class="grid place-items-center border-b border-gray-300 shadow-lg bg-white shadow-gray-200/75 sticky top-0 z-50"
>
  <div class="container py-6 flex">
    <a routerLink="/home">
      <img src="/logo.svg" alt="" height="32" class="h-6" />
    </a>

    <nav class="ml-auto">
      <ul class="flex gap-6 items-center md:gap-4 text-sm text-gray-500">
        <li>
          <a
            routerLink="home"
            routerLinkActive="text-gray-700"
            class="hover:text-gray-600 flex gap-1 items-center"
            ><mat-icon>home</mat-icon>
            <span class="hidden md:inline-block">Home</span>
          </a>
        </li>
        <li>
          <a
            routerLink="search"
            routerLinkActive="text-gray-700"
            class="hover:text-gray-600 flex gap-1 items-center"
            ><mat-icon>search</mat-icon>
            <span class="hidden md:inline-block">Search</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main class="grid place-items-center bg-gray-50 h-[calc(100vh-72px-86px)]">
  <div class="container h-full py-6">
    <router-outlet />
  </div>
</main>
<footer class="grid place-items-center border-t border-gray-300 bg-white">
  <div class="container py-8 text-sm text-center text-gray-500">
    <p>&copy; 2025 CodeQuery by Okoye Charles</p>
  </div>
</footer>
