<h1 class="text-lg font-bold text-gray-700">
  {{ query.question }}
</h1>
<div
  class="mt-1 mb-4 text-xs text-gray-500 flex flex-wrap gap-[6px] items-center"
>
  <div class="w-full sm:w-auto">
    Asked by
    <span class="inline-block text-blue-500">{{ query.user.name }}</span>
  </div>
  <span class="text-gray-300 text-lg hidden sm:inline-block">|</span>
  <div>
    {{ query.createdAt | date : "medium" }}
  </div>
  <span class="text-gray-300 text-lg">|</span>
  <div class="flex gap-2 items-center">
    <mat-icon class="scale-75">question_answer</mat-icon>
    {{ query.answers.length }} Answers
  </div>
</div>

<div
  class="py-3 px-3 ring-2 ring-blue-500/50 mb-4 bg-gradient-to-r from-purple-50 via-green-50 to-blue-50 rounded flex flex-col gap-2"
>
  <h2
    class="font-sans font-semibold text-blue-600 text-center md:text-left flex justify-center md:justify-start items-center gap-2 flex-wrap"
  >
    Intelligent Answers
    <span
      class="text-transparent bg-gradient-to-r from-blue-600 via-purple-600 to-pink-600 bg-clip-text"
      >(Provided by Gemini AI)</span
    >
    <button
      class="bg-blue-600 flex justify-center gap-2 items-center text-gray-200 text-sm py-1 px-2 rounded hover:bg-blue-700 w-full md:w-fit disabled:bg-gray-300 disabled:text-gray-500 ml-auto h-[32px]"
      (click)="generateIntelligentAnswer()"
      [disabled]="intelligentAnswerProcessing"
    >
      @if (intelligentAnswerProcessing) {
      <mat-spinner diameter="16" class="!text-white"></mat-spinner>
      } @else { @if (query.intelligentAnswer) {
      <mat-icon class="scale-75">refresh</mat-icon> } @else {
      <mat-icon class="scale-75">bolt</mat-icon> } } @if
      (!query.intelligentAnswer) { Generate }
    </button>
  </h2>
  <div class="flex items-center justify-between gap-3 mt-3 md:mt-0 max-w-[calc(100vw-68px)] overflow-x-scroll">
    <p
      class="text-sm text-center md:text-left text-gray-600"
      [innerHTML]="
        query.intelligentAnswer ||
        'Get AI-generated answers to your question. Our AI model is trained on
      thousands of questions and answers to provide you with the best possible
      answers.'
      "
    ></p>
  </div>
</div>

<h1
  class="font-semibold text-base text-gray-700 border-b border-gray-300 py-1 mb-4"
>
  Answers ({{ query.answers.length }})
</h1>

<form
  action=""
  class="flex gap-2 bg-gray-50 pb-2 sticky top-[84px]"
  (submit)="answerQuestion($event)"
>
  <div class="relative w-full">
    <textarea
      [placeholder]="
        query.answers.length
          ? 'Add another answer...'
          : 'Be the first to answer...'
      "
      class="px-3 py-2 text-sm ring-1 ring-gray-300 focus:ring-gray-500 outline-none w-full text-gray-700 resize-none"
      rows="4"
      [value]="queryAnswer$.getValue()"
      (input)="handleInput($event)"
    ></textarea>
    <span
      class="text-xs text-gray-400 absolute bottom-1 right-1"
      [ngClass]="{
        '!text-red-500': queryAnswer$.getValue().length > MAX_ANSWER_LENGTH
      }"
      >{{ queryAnswer$.getValue().length }} / {{ MAX_ANSWER_LENGTH }}</span
    >
  </div>
  <button
    class="bg-blue-500 text-gray-200 grid place-content-center place-items-center text-sm hover:bg-blue-600 w-[40px] disabled:bg-gray-300"
    [type]="'submit'"
    [disabled]="
      processing ||
      queryAnswer$.getValue().length > MAX_ANSWER_LENGTH ||
      queryAnswer$.getValue().trim().length < 5
    "
  >
    @if (processing) {
    <mat-spinner diameter="16"></mat-spinner>
    } @else {
    <mat-icon class="text-white scale-90"> subdirectory_arrow_left </mat-icon>
    }
  </button>
</form>

<div class="flex flex-col">
  @for (answer of sortedAnswers(); track answer) {
  <app-answer-card [answer]="answer"></app-answer-card>
  }
</div>
